@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div class="row">
    <div style="text-align:center">
        <p><img src="~/Images/chabolas.jpg"></p>
        <p>Real Estate Management System är idag Sveriges största privatägda mäklarkedja med cirka 120 kontor över hela landet.</p>
        <p>Du kan förvänta dig kunniga och engagerade medarbetare som verkligen vill att din bostadsaffär ska bli en positiv upplevelse genom hela processen.</p>
    </div>
</div>
