@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    
    EC Utbildning AB<br />
    Södergatan 78<br />
    252 27 HELSINGBORG<br />
    <abbr title="Phone">P:</abbr>
    040-641 63 00
</address>

<address>
    <strong>Support:</strong>   <a href="http://santiago-compostela.net/">krista@res.com</a><br />
    <strong>Marketing:</strong> <a href="https://www.youtube.com/watch?v=l7XVNPm3tjA">robino@res.com</a>
</address>

<div class="row">
    <div style="text-align:center">
        <p><img src="~/Images/Krista.jpg"></p>
        <p><img src="~/Images/Robino.jpg"></p>
        
    </div>
</div>