@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Real Estate Management System</h1>
    <p class="lead">A web-based system for realtors, tailored to your every need.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2><a href="@Url.Action("Presentation","~/Views/Home")">Presentation</a></h2>
    </div>
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Fill in your customer and employee data by hand or ask a database admin to datapump the information into the database.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Search the database!</h2>
        <p>Search and sort your database information after your needs.</p>
    </div>
    <div class="col-md-4">
        <h2>Support 7 days a week.</h2>
        <p>Our telephone operator Andrés will be reachable 24/7 to answer any questions you might have!</p>
    </div>
</div>