@{
    ViewBag.Title = "Presentation";
}


<div class="row">
    <div class="col-md-4">
        <h2><a>Presentation</a></h2>
        <h3>Preparation</h3>
        <h4>Contract</h4>
        <p><img src="~/Images/kontrakt.png"></p>
        <h4>Brainstorming</h4>
        <p><img src="~/Images/thinkingB.jpg"></p>
        <h4>Scratch</h4>
        <p><img src="~/Images/beginning.jpg" height="450" width="650"></p>
        <h3>Design</h3>
        <p><img src="~/Images/ERdiagram.png"></p>

    </div>
</div>
