
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<div class="row">
    <ul>
        <li><a href="~/Web_Forms/Form1.aspx">Lista alla mäklare för en viss stad</a></li>
        <li><a href="~/Web_Forms/Form2.aspx">Lista topp sista fem/tio objekt som blev sålda på ett visst område</a></li>
        <li><a href="~/Web_Forms/Form3.aspx">Lista aktuella visningar för en viss stad</a></li>
        <li><a href="~/Web_Forms/Form4.aspx">Visa en lista över kunder för en viss mäklare</a></li>
        <li><a href="~/Web_Forms/Form5.aspx">Lista kontaktinformation (kontorets adress, mäklarens email, adress) om diverse mäklare/städer</a></li>
        <li><a href="~/Web_Forms/Form6.aspx">Visa hur mycket mäklaren har tjänat i en viss stad under en viss tidsperiod</a></li>
        <li><a href="~/Web_Forms/Form7.aspx">Visa hur mycket företaget tjänade under en viss tidsperiod</a></li>
        <li><a href="~/Web_Forms/Form8.aspx">Lista alla objekt från alla Objektsäljare var för sig</a></li>
        <li><a href="~/Web_Forms/Form9.aspx">Lista alla objekt från samma Objektsäljare</a></li>
        <li><a href="~/Web_Forms/Form10.aspx">Visa antalet säljare från ett visst område</a></li>
        <li>Visa alla objekt som säljs av samma mäklare</li>
        <li>Visa alla objekt som säljs av en viss mäklare</li>
        <li>Lista alla gatuadresser för objekt som såldes på en viss datum</li>
        <li>Lista alla objekt över en viss pris</li>
        <li>Lista alla objekt från ett visst område</li>
        <li>Lista alla objekt som har visning på ett visst datum</li>
        <li>Visa antalet potentiella köpare som kommer på en viss visning</li>
        <li>Snitt priset på sålda fastigheter på ett visst område</li>
        <li>Sammanlagda sålda objekt för ett visst kontor under en viss tidsperiod</li>
    </ul>

</div>